<div class="container text-center">
  <h2>All your project ideas. Stored and structured.</h2>
  <p>Okay, I know you have a great idea but you’re not sure where to start.</p>
  <p>So let your entrepreneurship journey begins here.</p>
  <p>You will get guidance, step by step, until you've accomplished something!</p>
  <p>Now, sign up to get started.</p>
</div>
