<div class="container text-center">
  <div class="home_page__container">
    <h2>All your project ideas. Stored and structured.</h2>
    <p>Okay, I know you have a great idea but you’re not sure where to start.</p>
    <p>So let your entrepreneurship journey begins here.</p>
    <p>You will be guided, step by step, until you've accomplished something!</p>
    <p>Now, <%= link_to "sign up", new_user_session_path, class: "sign_up__link" %> to get started.</p>
  </div>
</div>
