<div class="container">
  <div class="project_container">
    <div class="project_title">
      <h2><%= @project.name %></h2>
      <%= link_to edit_project_path(@project) do %>
        <i class="fas fa-pen"></i>
      <% end %>
      <%= link_to project_path(@project), method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    </div>
    <p><%= @project.description %></p>
  </div>
</div>
