.navbar-custom {
  justify-content: space-between;
  background: white;
  flex-wrap: nowrap;
  h1 {
    font-size: 18px;
  }
}

.navbar-custom .navbar-collapse {
  flex-grow: 0;
}

.navbar-custom .navbar-brand img {
  width: 40px;
}

#navbar-btn {
  margin: 0;
  padding: 0;
}

#navbar-drop-menu {
  right: 0;
  left: auto;
}

// OVERRIDING BOOTSTRAP FA ICON IN NAVBAR BTN

.dropdown-toggle::after {
  content: none;
}
